<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="ID of tenant"/>
    <add key="ClientId" value="application ID"/>
    <add key="RedirectUri" value="https://mytenant/csab"/>
    <add key="Resource" value="https://mytenanrt.sharepoint.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
