<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
    <authorization>
      <deny users="?" />
    </authorization>
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <!--<param name="File" value="${TMP}\\SiteProvisioner.log" />-->
      <param name="File" value="c:\\temp\\SiteProvisioner.log" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-2p %c [%x] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="ClientId" value="e4b829d5-d961-483d-a976-7c263c9ff4d3" />
    <add key="ClientSigningCertificatePath" value="e:\SPApps\S2S.pfx" />
    <add key="ClientSigningCertificatePassword" value="Sharepoint03" />
    <add key="IssuerId" value="8f5419b6-e58c-4c19-98bb-62072989ed34" />
  </appSettings>
  <system.serviceModel>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="1" />
    <bindings>
      <basicHttpBinding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>