<div id="mainForm">
    <div class="jumbotron">
        <h2><span id="welcomeLabel" data-bind="text: label()"></span> @ViewBag.UserName!</h2>
        <p>Current site name is: <span id="siteName" data-bind="text: siteName()"></span></p>
        <input type="button" id="testBtn" data-bind="click: testButtonClick()" class="btn" value="Click Me" style="margin-left: 0" />
    </div>
</div>
