<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantName" value="mytenant Name of ID"/>
    <add key="ClientId" value="Guid of application ID"/>
    <add key="Resource" value="https://mytenant.sharepoint.com"/>
    <add key="CertName" value="CN=mycommonname"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
