<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="{client ID here}"/>
    <add key="RedirectUri" value="{reply URI here}"/>
    <add key="TenantName" value="{tenant name here}.onmicrosoft.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
